// variables globales




// fonts
$mainFont:"Roboto", sans-serif;
$textSm: 1.0em;
$textMd: 1.5em;
$textLg: 2.5em;
$textBold: 500;



// colores
$mainColor: aqua;
$secundaryColor: gray;
$keyColor: brown;
$trueColor: black;

